 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

/* ------------------------------------------------ */

.header {
    display: flex;
    justify-content: space-between;
    height: 0;
    width: auto;
    padding: 40px;
    background-color: #1e1c21;
}

.logo {
    width: 171.25px;
    height: 43.25px;
    transform: translateY(-20px);
}

/* ------------------------------------------------ */
/*            Navbar & Animation des liens          */
/* ------------------------------------------------ */

.navbar {
    display: flex;
    justify-content: space-between;
    width: 550px;
}

.navbar-item {
    color: #EBEBEB;
    font-family: Inter;
    font-weight: 500;
    transform: translateY(-10px);
}

/* Pour les liens de navbar de type texte */

.navbar-text:after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background-color: #7761F8;
    transition: all 0.5s ease;
}

.navbar-text:hover::after {
    width: 100%;
}

/* Pour les liens de navbar de type icones */

.navbar-icon ion-icon {
    width: 30px;
    height: 30px;
    transform: translateY(-5px);
}

/* ---------------------------------------------------------------- */
/*                         Terms Page : Title                       */
/* ---------------------------------------------------------------- */

.terms {
    background-color: #28242e;
    padding: 40px;
}

.title {
    color: white;
    font-family: Inter;
    font-size: 40px;
}

.paragraph h1 {
    color: white;
    padding-bottom: 20px;
    font-weight: 600;
    font-family: Inter;
    font-size: 25px;
}

.paragraph p {
    color: white;
    font-family: Inter;
    font-weight: 300;
    font-size: 15px;
    line-height: 23px;
    max-width: 600px;
}

.paragraph ul li {
    list-style: circle;
    color: white;
    font-family: Inter;
    font-weight: 300;
    font-size: 15px;
    line-height: 23px;
    max-width: 600px;
}

.paragraph a {
    color: #7761F8;
}

.paragraph {
    color: white;
    padding-top: 40px;
    padding-bottom: 20px;
    font-family: Inter;
    font-size: 40px;
}

/* ---------------------------------------------------------------- */
/*                               Footer                             */
/* ---------------------------------------------------------------- */

.footer {
    background-color: #1e1c21;
    display: flex;
    justify-content: space-between;
}

.footer-left {
    padding: 20px;
    display: flex;
}

.footer-left p {
    color: white;
    font-family: Inter;
}

.footer-left p:hover {
    cursor: pointer;
}

.footer-left p:after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background-color: #7761F8;
    transition: all 0.5s ease;
}

.footer-left p:hover::after {
    width: 100%;
}





.footer-right {
    padding: 20px;
    display: flex;  
}

.footer-right p {
    padding: 0px 10px;
    color: white;
    font-family: Inter;
}

.footer-right p:hover {
    cursor: pointer;
}

.footer-right p:after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background-color: #7761F8;
    transition: all 0.5s ease;
}

.footer-right p:hover::after {
    width: 100%;
}

/* ---------------------------------------------------------------- */
/*                           Version mobile                         */
/* ---------------------------------------------------------------- */

@media screen and (max-width: 600px) {
    .footer {
        display: block;
    }

    .footer-right {
        display: block;
    }
    .footer-right p {
        margin-top: 10px;
    }
}